.ui .form,
.column,
.ui .input,
h2,
.ui .card .content
{
  color: #2196f3 !important;
  font-family: Comfortaa, serif !important;
}

label {
  color: grey !important;
  font-family: Comfortaa, serif !important;
}

.ui.button {
  color: white !important;
  background: #2196f3 !important;
}

.ui.button.deleteButton {
  color: white !important;
  background: red !important;
}

.ui .segment {
  background-color: #E9FFFD !important;
}

#edit-break-name,
#edit-break-image,
#edit-break-summary,
#edit-break-description,
#edit-break-address,
#edit-break-x-pos,
#edit-break-y-pos
{
  color: #2196f3 !important;
  font-family: Comfortaa, serif !important;
}